CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Prerequisites
tutorial/*/*.d

# Compiled Object files
tutorial/*/*/*.slo`
tutorial/*/*.lo
tutorial/*/*.o
tutorial/*/*.obj

# Precompiled Headers
tutorial/*/*.gch
tutorial/*/*.pch

# Headers
tutorial/*/*.h

# Compiled Dynamic libraries
tutorial/*/*/*.so
tutorial/*/*/*.dylib
tutorial/*/*/*.dll

# Fortran module files
tutorial/*/*.mod
tutorial/*/*.smod

# Compiled Static libraries
tutorial/*/*/*.lai
tutorial/*/*/*/la
tutorial/*/*/*.a
tutorial/*/*.lib

# Executables
tutorial/*/*.exe
tutorial/*/*.out
tutorial/*/*.app

tutorial/*/Tutorial
